body {
  font-size: 20px;
  background: #000000;
  font-family: Roboto, sans-serif;
}

.main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  text-align: flex-start;
  justify-content: center;
}

#img {
  border-radius: 5%;
  width: 300px;
}

#text {
  align-self: center;
  padding: 50px;
  color: #DC143C;
}

h4 {
  color: rgb(214, 34, 34);
  opacity: 0.8;
}

.description {
  font-size: 16px;
  color: #DC143C;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.836);
  max-width: 1000px;
  padding: 12px;
  background-color: #ffffff;
  margin-top: 20px;
  justify-content: center;
}
